body, html {
    padding: 0;
    margin: 0;
    padding-top: 0px;
}

#Nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Britannic Bold";
    font-size: x-large;
    font-weight: 900;
}

#LineRunningStatus{
    flex: 0 0 10.4%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#Bay{
    flex: 0 0 13.2%;
    /*10% 15% 25% 17%*/
}

#blank{
    flex: 0 0 1.2%;
}

#WorkCell{
    flex: 0 0 15.3%;
}

#ProcessingModel{
    flex: 0 0 19.2%;
}

#NextModel{
    flex: 0 0 17.9%;
}

#RunningStatus{
    flex: 0 0 15.7%;
}

#Container{
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

#displayBoard {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.container-li {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 2px solid #eee;
}

    .modelLine {
        flex: 0 0 auto;
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-around;
        color: white;
    }

        .bayStatus {
            display: flex;
            flex: 0 0 20%;
            align-items: center;
        }
            .work{
                display: flex;
                flex: 0 0 8%;
                align-items: center;
                justify-content: center;
            }

            .free{
                display: flex;
                flex: 0 0 8%;
                align-items: center;
                justify-content: center;
            }

        .bayNum{
            display: flex;
            flex: 0 0 12%;
            font-family: 'Microsoft YaHei';
            line-height: 1em;
            color: white;
            font-size: 120%;
            /*text-shadow:0px 0px 0 rgb(0,0,0), 1px 1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
            align-items: center;
            font-weight:bolder;
        }

        .building {
            display: flex;
            flex: 0 0 24%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            font-weight:bolder;
/*            border-right: dashed #000000;
            border-left: dashed #000000;*/
        }

        .loadingComplete {
            display: flex;
            flex: 0 0 24%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            font-weight:bolder;
            /*border-right: dashed #000000;*/
            /*border-left: dashed #000000;*/
        }

            .modelName {
                display: flex;
                flex: 0 0 50%;
                align-items: center;
                line-height: 1em;
                font-size: 110%;
            }

            .workCell {
                display: flex;
                flex: 0 0 69%;
                font-family: 'Microsoft YaHei';
                line-height: 1em;
                color: white;
                font-size: 120%;
                /*text-shadow:0px 0px 0 rgb(0,0,0), 1px 1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
                align-items: center;
            }

        .status{
            flex: 0 0 10%;
        }
            .noPlan{
                display: flex;
                flex: 0 0 10%;
                font-family: 'Microsoft YaHei';
                line-height: 1em;
                color: rgb(255, 255, 255);
                font-size: 100%;
                /*text-shadow:0px 0px 0 rgb(153,255,206), 1px 1px 0 rgb(153,255,206),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
                justify-content: center;
                align-items: center;
                font-weight:bolder;
            }

            .pre{
                display: flex;
                flex: 0 0 10%;
                font-family: 'Microsoft YaHei';
                line-height: 1em;
                color: #99ffce;
                font-size: 100%;
                /*text-shadow:0px 0px 0 rgb(153,255,206), 1px 1px 0 rgb(153,255,206),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
                justify-content: center;
                align-items: center;
                font-weight:bolder;
            }

            .delay{
                display: flex;
                flex: 0 0 10%;
                font-family: 'Microsoft YaHei';
                line-height: 1em;
                color: #d30d06;
                font-size: 120%;
                /*text-shadow:0px 0px 0 rgb(255,99,99), 1px 1px 0 rgb(255,99,99),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
                justify-content: center;
                align-items: center;
                font-weight:bolder;
            }

            .onTime{
                display: flex;
                flex: 0 0 10%;
                font-family: 'Microsoft YaHei';
                line-height: 1em;
                color: #1d6d01;
                font-size: 120%;
                /*text-shadow:0px 0px 0 rgb(97,250,133), 1px 1px 0 rgb(97,250,133),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
                justify-content: center;
                align-items: center;
                font-weight:bolder;
            }

        .count{
            display: flex;
            flex: 0 0 10%;
            font-family: 'Microsoft YaHei';
            line-height: 1em;
            color: white;
            font-size: 120%;
            /*text-shadow:0px 0px 0 rgb(0,0,0), 1px 1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);*/
            justify-content: center;
            align-items: center;
        }

