body, html {
    padding: 0;
    margin: 0;
    padding-top: 0px;
}

body{
    background-color: #42b6ee;
}

#displayBoard{
    border-collapse: collapse;
    text-align: center;
}

#Nav{
    font-family: "Britannic Bold";
    font-size: x-large;
    font-weight: 900;
}

.container-li{
    font-family: 'Microsoft YaHei';
    line-height: 1em;
    color: white;
    font-size: 120%;
    border-bottom: solid;
}

    #LineRunningStatus {
        width: 15vw;
    }

    #Bay{
        width: 12vw;
    }

    #WorkCell{
        width: 12vw;
    }

    #ProcessingModel{
        width: 12vw;
    }

    #NextModel{
        width: 12vw;
    }

    #RunningStatus{
        width: 12vw;
    }

    #LotsReady{
        width: 12vw;
    }

    #TimeToUse{
        width: 12vw;
    }

    #noPlan{
        colspan:2;
    }

.pre{
    color: #99ffce;
    font-weight:bolder;
}

.delay{
    color: #d30d06;
    font-weight:bolder;
}

.onTime{
    color: #1d6d01;
    font-weight:bolder;
}
