ul,li {margin:0;padding:0;}


body{
    font-size: 13px;
    background: #f6f6f6;
}

#top-bar {
    width: 100%;
    background: #0077b5;
    z-index: 101;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 290px;
    border-bottom: solid 1px #006b8e;
    font-size: 12px;
    line-height: 14px;
}

#container {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    position: relative;
}

#logo {
    width: 122px;
    height: 40px;
    float: left;
    margin: 0 94px 0 0;
}

#logo > span {
    display: block;
    width: 122px;
    height: 22px;
    margin: 9px 0 0 0;
    background-image: linear-gradient(transparent, transparent), url(/IMG/SCM/tg-logo.svg);
    background-size: 100% 100%;
}

#search-box {
    width: 420px;
    margin: 8px 0 0 0;
    padding-right: 6px;
    float: left;
    position: relative;
}

#search-box > input {
    background: #005f90;
    color: #fff;
}

#search-box > input {
    width: 100%;
    border: none;
    padding: 0 0 0 8px;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    outline: 0;
}

#search-box > i {
    top: 4px;
    right: 12px;
    position: absolute;
    font-size: 18px;
    color: #ccc;
}

#searchresults {
    right: auto;
    left: 246px;
    top: 41px;
    width: 420px;
}

.document-list.bright {
    background-color: #fff;
    border-top: none;
    border-bottom: solid 1px #ccc;
}

.popupmenu {
    display: none;
    position: absolute;
    background-color: #002a3f;
    right: 0;
    width: auto;
    top: 40px;
    color: #1a4473;
    z-index: 1005;
}

.instance {
    height: 40px;
    display: inline-block;
}

.instance-name {
    line-height: 44px;
    color: #fff;
    padding: 0 0 0 8px;
}

#full-page-container {
    position: relative;
    padding: 0 25px;
    min-height: 100%;
}

#page {
    padding: 40px 0 100px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: sans-serif;
}

.content-container {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    position: relative;
}

#left{
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 20px 0 0 0;
    line-height: 16px;
}

#asyncJobNotification {
    border-bottom: solid 1px #e4e4e4;
}

#left{
    color: #666;
    padding: 10px 0 0 9px;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
}

#favorite{

}

#by-category{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: .01em;
    border-top: 1px solid #e4e4e4;
}

#by-category>ul{
    list-style: none;
    margin: 0 0 4px 0;
}

#by-category>ul>li{
    position: relative;
    color: #1a4473;
    display: block;
    font-size: 13px;
    text-align: -webkit-match-parent;
    line-height: 16px;
    text-align: left;
    padding: 6px 0 7px 8px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color .2s ease-out;
}

#by-category>ul>li:hover{
    background-color: #e7e7e7;
}

#by-tag>ul{
    list-style: none;
    margin: 0 0 4px 0;
}

#by-tag>ul>li{
    position: relative;
    color: #1a4473;
    display: block;
    font-size: 13px;
    text-align: -webkit-match-parent;
    line-height: 16px;
    text-align: left;
    padding: 6px 0 7px 8px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color .2s ease-out;
}

#by-tag>ul>li:hover{
    background-color: #e7e7e7;
}

#center{
    max-width: 1300px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 0 0 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}


#search-box-2{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: center;
}

.w3-input{
    margin-right: 5px;
}

.w3-button{
    border:1px solid;
}

