ul, li {
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
}

body {
    font-size: 13px;
    background: #f6f6f6;
}

#top-bar {
    width: 100%;
    background: #0077b5;
    z-index: 101;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 290px;
    border-bottom: solid 1px #006b8e;
    font-size: 12px;
    line-height: 14px;
}

#top-bar-container {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    position: relative;
}

#logo {
    width: 122px;
    height: 40px;
    float: left;
    margin: 0 94px 0 0;
}

#logo > span {
    display: block;
    width: 122px;
    height: 22px;
    margin: 9px 0 0 0;
    background-image: linear-gradient(transparent, transparent), url(/IMG/SCM/tg-logo.png);
    background-size: 100% 100%;
}

#search-box {
    width: 420px;
    margin: 8px 0 0 0;
    padding-right: 6px;
    float: left;
    position: relative;
}

#search-box > input {
    background: #005f90;
    color: #fff;
}

#search-box > input {
    width: 100%;
    border: none;
    padding: 0 0 0 8px;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    outline: 0;
}

#search-box > i {
    top: 4px;
    right: 12px;
    position: absolute;
    font-size: 18px;
    color: #ccc;
}

#search-box-result{
    position: absolute;
     display: none;
    right: auto;
    left: 246px;
    top: 41px;
    width: 420px;
    background-color: #fff;
    border-top: none;
    color: #1a4473;
    z-index: 1005;
    border-bottom: solid 1px #ccc;
}

.search-box-item{
    border-color: #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 4px 10px;
    background-color: #fff;
    border-top: none;
    cursor: pointer;
}

.search-box-item>a{
    text-decoration: none;
}

.instance {
    height: 40px;
    display: inline-block;
}

.instance-name {
    line-height: 44px;
    color: #fff;
    padding: 0 0 0 8px;
}

#full-page-container {
    position: relative;
    padding: 0 25px;
    min-height: 100%;
}

#page {
    padding: 40px 0 100px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: sans-serif;
}

.content-container {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    position: relative;
}

#left {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 20px 0 0 0;
    line-height: 16px;
}

.top-line {
    border-bottom: solid 1px #e4e4e4;
}

#favorite {
    padding: 10px 5px 10px 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #666;
}

#by-category {
    padding: 10px 5px 10px 5px;
    border-top: solid 1px #e4e4e4;
    position: relative;
}

#category-ul {
    list-style: none;
    color: #1a4473;
}

#category-ul > li {
    width: 200px;
    height: 37px;
    line-height: 37px;
    background-color: transparent;
    transition: background-color .2s ease-out;
    position: relative;
}

/*鼠标移入淡色背景*/
#category-ul > li:hover {
    background-color: #ebebeb;
}

#by-tag {
    padding: 10px 5px 10px 5px;
    border-top: solid 1px #e4e4e4;
    position: relative;
    background: #f6f6f6;
    transition: transform 1s;
}

#by-tag.up{
    transform: translateY(-158px);
}

#tag-ul {
    list-style: none;
    color: #1a4473;
}

#tag-ul > li {
    width: 200px;
    height: 37px;
    line-height: 37px;
    background-color: transparent;
    transition: background-color .2s ease-out;
    position: relative;
}

#blank-cover{
    position: relative;
    z-index: 35!important;
    transition: transform 1s;
}

#blank-cover.upOne{
    transform: translateY(-198px);
}

#blank-cover.upTwo{
    transform: translateY(-356px);
}

/*鼠标移入淡色背景*/
#tag-ul > li:hover {
    background-color: #ebebeb;
}

.icon {
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    color: white;
    transition: background-color .2s ease-out;
}

/*右方向箭头*/
.right-caret {
    width: 30px;
    height: 37px;
    line-height: 37px !important;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    /*z-index: 30;*/
    cursor: pointer;
    text-align: center;
    padding: 0;
    background-color: transparent;
    transition: background-color .2s ease-out;
}

li>.right-caret:hover {
    background-color: #002a3f;
}

#center {
    max-width: 1300px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 0 0 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

#top-path {
    color: #1a4473;
    text-decoration: none;
    outline: none;
    padding: 9px 0px 9px 0px;
    line-height: 22px;
}

#top-path > span:hover {
    color: #0091dc !important;
}

#blank-line {
    border: 1px solid #e4e4e4;
    padding: 4px 6px;
    background: #f9f9f9;
}

#bar-name {
    position: relative;
    border-bottom: solid 1px #e4e4e4;
    margin: 10px 0;
    padding-bottom: 8px;
    clear: both;
    text-align: right;
    line-height: 24px;
}

#bar-name > h1 {
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    position: relative;
    display: block;
    margin-right: 250px;
    min-width: 250px;
}

#document-filter > input {
    display: inline;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    font-size: 14px;
    padding: 1px 25px 1px 6px;
    border: solid 1px #ccc;
    margin-right: 10px;
}

#document-filter > i {
    display: inline;
    transform: translate(-36px, 5px);
    position: absolute;
    color: #ccc;
}

#document-filter > button {
    display: inline;
    margin-left: 0;
    width: 100px;
    padding: 6px 0;
    border: solid 1px #466e9c;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
    top: 0;
    vertical-align: top;
}

#document-filter > button:hover {
    background: transparent!important;
}

#active-filters > p {
    display: inline;
}

#active-filters > span > i {
    padding-left: 2px;
    color: #ccc;
}

#active-filters > span > i:hover {
    color: #c73301;
    cursor: pointer;
}

#search-result{
    display: inline;
    position: absolute;
    right: 0;
    transform: translateY(7px);
}

#filter-select{
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    padding: 10px 10px 20px 10px;
    margin-bottom: 10px;
    position: relative;
    transition: all 500ms;
}

.filter-item{
    display: inline-block;
    margin-right: 32px;
    min-height: 60px;
    vertical-align: top;
}

.filter-item>h3{
    font-weight: 700;
    color: #1a4473;
    margin: 0 0 10px 0;
    font-size: 13px;
    text-align: left;
}

.filter-item>ul{
    padding: 0;
    margin: 0 !important;
    list-style: none !important;
}

.filter-item>ul>li{
    margin: 0;
    display: block;
    height: 20px;
    position: relative;
    padding-right: 20px;
}


#result-table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: none;
    empty-cells: show;
}

#result-table>tbody>tr:hover{
    background-color: #e0f4ff;
}

#result-table>tbody>tr>th{
    vertical-align: middle;
    font-weight: 700;
    height: 20px;
    color: #1a4473;
    border: none;
    text-align: left;
    padding: 5px 6px;
    border-spacing: 0;
}

#result-table>tbody>tr>td{
    vertical-align: middle;
    color: #003753;
    text-align: left;
    padding: 10px 6px;
    border: 1px solid #e4e4e4;
    border-spacing: 0;
    font-weight: normal;
}