@charset "utf-8";

input::-ms-clear,::-ms-reveal{display:none;}

html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}

@font-face {
    font-family: Cookie;
    src:url('/Fonts/Cookie-Regular.ttf')
}

@font-face {
    font-family: Lato;
    src:url('/Fonts/Lato-Regular.ttf')
}

body, html {
    padding: 0;
    margin: 0;
}



body {
    background: #efefef;
}

#top-menu{
    position: fixed;
    top: 0;
    height: 43px;
    width: 100%;
    background: wheat;
    background: linear-gradient(to bottom,rgba(78, 124, 162, 0.65) 0,rgba(239,239,239,1) 100%);
    z-index: 4;
}

#left-menu{
    display: none;
    z-index: 4;
    width: 315px;
}


#header-background{
    z-index: 3;
}

#header {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 8vh;
    position: relative;
    background: #efefef;
    border-radius: 4px;
    padding-bottom: 30px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
    z-index: 3;
    /*margin-bottom: 30px;*/
}


#info {
    margin: auto;
    padding-top: 6vh;
    text-align: center;
}

#name {
    font-size: xx-large;
}

#description {
    width: 65%;
    margin: 3vh auto auto;
    color: #888;

}

#nav {
    /*width: 80%;*/
    padding: 9% 10% 0px 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.category {
    background: #EFEFEF;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
    color: #888;
    margin-bottom: 11px;
}

#nav > span.active {
    background: #11BD78;
    color: white;
}

#nav > span:hover {
    background: #11BD78;
    color: white;
}

#relative-menu{
    width: 80%;
    margin: 0 auto;
    background: white;
    margin-bottom: 30px;
    padding: 0px 15px 0px 15px;
    z-index: 1;
    transition: transform 600ms;
}

    /*筛选菜单*/
    #filter-menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

        #filter-menu>span{
            background: #EFEFEF;
            border-radius: 8px;
            padding: 0 12px;
            line-height: 24px;
            font-size: 14px;
            cursor: pointer;
            color: #888;
            margin-bottom: 11px;
        }

        #filter-menu>span.disable{
            /*cursor: url('/IMG/SCM/not.ico'), default;*/
            cursor: no-drop !important;
        }

        #filter-menu>span.active{
            background: #11BD78;
            color: white;
        }

    /*搜索栏*/
    #search{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-bottom: 11px;
    }

    #search>input{
        width: 30%;
    }

    #cancel-search{
        display: none;
        transform: translateX(-23px);
    }



/*下拉按钮*/
#down-button{
    display: block;
    position: relative;
    /*margin: 0 auto;*/
    height: 30px;
    width: min-content;
    cursor: pointer;
}

#down-button>i{
    transform: rotate(180deg);
    transition: transform 600ms;
}

#display-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: relative;
    margin: auto;
    transition: transform 600ms;
    background: #efefef;
}



@media screen and (max-width: 900px) {
    #display-area > div {
        position: relative;
        margin: 0 0 30px 0;
        padding: 20px;
        box-sizing: border-box;
        float: none;
        background: #FFF;
        border-radius: 4px;
        padding-bottom: 30px;
        /*box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;*/
        /*这里宽度应该计算出来，使得窗口宽度不够的时候能够变为一列*/
        width: 100%;
        height: 24vh;
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
    #display-area > div {
        position: relative;
        margin: 0 0 30px 0;
        padding: 20px;
        box-sizing: border-box;
        float: none;
        background: #FFF;
        border-radius: 4px;
        padding-bottom: 30px;
        /*box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;*/
        /*这里宽度应该计算出来，使得窗口宽度不够的时候能够变为一列*/
        width: 46%;
        height: 24vh;
    }
}

@media screen and (min-width: 1441px) {
    #display-area > div {
        position: relative;
        margin: 0 0 30px 0;
        padding: 20px;
        box-sizing: border-box;
        float: none;
        background: #FFF;
        border-radius: 4px;
        padding-bottom: 30px;
        /*box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;*/
        width: 22%;
        height: 22vh;
    }
}



.module-pic {
    /*临时*/
    background: cadetblue;
    color: wheat;
    text-align: center;
    font-size: 230%;
    /**/

    float: left;
    margin: 0 20px 20px 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

#display-area{
    font-family: Lato;
}

#display-area > div > h3 {
    font-size: 24px;
    margin: 6px 0 12px 0;
    padding: 0;
}

#display-area > div > h3 > a{
    text-decoration: none;
    color: #0078bf;
}

#display-area > div > p {
    font-size: 15px;
    line-height: 1.3em;
}

.data {
    display: none;
}

.module-type {
    position: absolute;
    bottom: 2px;
    right: 30px;
}

.read-more {
    text-decoration: underline;
    color: #0078bf;
    cursor: pointer;
}


.disappear{
    animation-name: rotation_disappear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.show{
    animation-name: rotation_show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes rotation_disappear {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
}

@keyframes rotation_show {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}


#footer{
    height: 240px;
    background:  linear-gradient(to bottom,rgba(239,239,239,1) 0,rgba(78, 124, 162, 0.65) 100%);
    width: 100%;
    margin: 0 auto;
}

#footer>div{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#footer>div>div{
    height: 100%;
}

.jabillogo{
    color: white;
}

#footer-content{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}